force-app/main/default/flows/Set_Default_Case_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Number_of_Matching_Contacts_0</name>
        <label>Set Number of Matching Contacts</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>NumberofContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Matching_Email_Contact_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Entitlement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Single_Contact_Match</name>
        <label>Check if Single Contact Match</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Entitlement_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If No Contact</defaultConnectorLabel>
        <rules>
            <name>If_Single_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Email_Contact_0</targetReference>
            </connector>
            <label>If Single Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Contact_Details</name>
        <label>If Contact Details</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Details</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_Details</name>
            <conditionLogic>1 AND (NOT(2))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>osg.ca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Email_Contact_0_0</targetReference>
            </connector>
            <label>Has Contact Details</label>
        </rules>
    </decisions>
    <interviewLabel>Set Default Case Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Default Case Entitlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Entitlement</name>
        <label>Get Active Entitlement</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Single_Contact_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00146000011bdVXAAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Email_Contact_0</name>
        <label>Get Matching Email Contact</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Entitlement_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Email_Contact_0_0</name>
        <label>Get Matching Email Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Number_of_Matching_Contacts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Entitlement_0</name>
        <label>Update Case Entitlement</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Active_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Entitlement_0_0</name>
        <label>Update Case Entitlement and Contact</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Matching_Email_Contact_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Active_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Contact_Details</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberofContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
