force-app/main/default/flows/Update_Attendee_Start_Cert_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>If_SA_Ignore_Start_Date</name>
        <label>If SA Ignore Start Date</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Attendees_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ignore_Scheduled_Start__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attendees_0</targetReference>
            </connector>
            <label>Yes Ignore</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Start_Date_Changed</name>
        <label>If Start Date Changed</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartDateorProductChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_SA_Ignore_Start_Date</targetReference>
            </connector>
            <label>Start Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SchedStartDaysInFuture</name>
        <dataType>Number</dataType>
        <expression>min(max(0,DATEVALUE({!$Record.SchedStartTime}) - TODAY()),1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StartDateorProductChanged</name>
        <dataType>Boolean</dataType>
        <expression>or (ischanged({!$Record.SchedStartTime}), ischanged({!$Record.Trainer_Notes__c}),ischanged({!$Record.Product__c}))</expression>
    </formulas>
    <interviewLabel>Update Attendee Start/Cert Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Attendee Start/Cert Dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Attendees_0</name>
        <label>Update Attendees</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Product_Line__c</field>
            <value>
                <elementReference>$Record.Product__r.Course_Product_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>$Record.Product__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Attendee__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Attendees_0_0</name>
        <label>Update Attendees</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Product_Line__c</field>
            <value>
                <elementReference>$Record.Product__r.Course_Product_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>$Record.Product__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RU_SA_Start_In_Future__c</field>
            <value>
                <elementReference>SchedStartDaysInFuture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RU_Scheduled_Start_Date__c</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <object>Attendee__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Start_Date_Changed</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
