force-app/main/default/flows/Update_Contact_FastCall_Label_TEMPORARY.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_New_Or_Updated_Account</name>
        <label>Is New Or Updated Account</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Dont Update Label</defaultConnectorLabel>
        <rules>
            <name>Update_Label</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FastCall_Label</targetReference>
            </connector>
            <label>Update Label</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>UpdatedFastCallLabel</name>
        <dataType>String</dataType>
        <expression>{!$Record.FullName__c} &amp; &apos; - &apos; &amp; LEFT({!$Record.Account.Name}, 90) &amp; &apos;(&apos; &amp; {!$Record.Account.Client_ID__c} &amp; &apos;)&apos;</expression>
    </formulas>
    <interviewLabel>Update Contact FastCall Label (TEMPORARY) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact FastCall Label (TEMPORARY)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_FastCall_Label</name>
        <label>Update FastCall Label</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Fastcall_Label__c</field>
            <value>
                <elementReference>UpdatedFastCallLabel</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Or_Updated_Account</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
