force-app/main/default/flows/update_unique_email_on_email_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_If_Contact_Has_Email</name>
        <label>Check If Contact Has Email</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Clear_Unique_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>continue_if_new_or_changed</targetReference>
            </connector>
            <label>Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>continue_if_new_or_changed</name>
        <label>continue if new or changed</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_OSG_Email_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@osg.ca</stringValue>
                </rightValue>
            </conditions>
            <label>is OSG Email address</label>
        </rules>
        <rules>
            <name>is_changed_or_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_new_or_email_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_unique_email_set</targetReference>
            </connector>
            <label>is changed or new</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_found_email</name>
        <label>if found email</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>email_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>found_contact_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_unique_to_email_0</targetReference>
            </connector>
            <label>email not founc</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_unique_email_set</name>
        <label>if_unique_email_set</label>
        <locationX>248</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>get_contact_with_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>unique_is_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.unique_email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_unique_equal_email_0</targetReference>
            </connector>
            <label>unique_is_set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>email_lowercase</name>
        <dataType>String</dataType>
        <expression>lower({!$Record.Email})</expression>
    </formulas>
    <formulas>
        <name>is_new_or_email_changed</name>
        <dataType>Boolean</dataType>
        <expression>or(isnew(), ischanged({!$Record.Email}))</expression>
    </formulas>
    <interviewLabel>update unique email on email change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update unique email on email change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact_with_email</name>
        <label>get_contact_with_email</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_found_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>found_contact_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Unique_Email</name>
        <label>Clear Unique Email</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>unique_email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>unique_email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_unique_equal_email_0</name>
        <label>set unique equal email</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>unique_email__c</field>
            <value>
                <elementReference>email_lowercase</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_unique_to_email_0</name>
        <label>set unique to email</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>unique_email__c</field>
            <value>
                <elementReference>email_lowercase</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Contact_Has_Email</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contact_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>found_contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
